#div1{
    width:80px;
    height:80px;
    background:rgb(255, 143, 143);
}
#div2{
    width:80px;
    height:80px;
    background:rgb(255, 248, 143);
}
#div3{
    width:80px;
    height:80px;
    background:rgb(143, 188, 255);
}